/*
 * Theme Customizer CSS
 *
 */

#customize-control-courage_control_header_content,
#customize-control-courage_control_slider_activated,
#customize-control-courage_control_installed_fonts {
	margin-top: 24px;
}
#customize-control-courage_control_excerpt_text_headline   {
	margin-top: 12px;
}

#customize-control-courage_control_header_content,
#customize-control-courage_control_post_images,
#customize-control-courage_control_excerpt_text_headline,
#customize-control-courage_control_slider_activated  {
	margin-bottom: 0;
}

#customize-control-courage_control_footer_text textarea,
#customize-control-courage_control_installed_fonts textarea {
	height: 4em;
}